Repository ironcore-dev/gardener-extension-provider-ironcore-metal, pull requests merged in 2024-11, with the labels that each got.

#74 Use WorkerPool `ProviderConfig` for Ignition and ServerLabels
  example/30-infrastructure.yaml
  example/30-worker.yaml
  hack/api-reference/api.md
  pkg/apis/metal/register.go
  pkg/apis/metal/types_infrastructure.go
  pkg/apis/metal/types_worker.go
  pkg/apis/metal/v1alpha1/register.go
  pkg/apis/metal/v1alpha1/types_infrastructure.go
  pkg/apis/metal/v1alpha1/types_worker.go
  pkg/apis/metal/v1alpha1/zz_generated.conversion.go
  pkg/apis/metal/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/metal/zz_generated.deepcopy.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/controller/worker/suite_test.go
Labels: documentation, enhancement, controllers, size/L, api-change

#78 Add `SecretRef` to IgnitionConfig
  go.mod
  hack/api-reference/api.md
  hack/api-reference/config.md
  pkg/apis/metal/types_worker.go
  pkg/apis/metal/v1alpha1/types_worker.go
  pkg/apis/metal/v1alpha1/zz_generated.conversion.go
  pkg/apis/metal/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/metal/v1alpha1/zz_generated.defaults.go
  pkg/apis/metal/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/controller/worker/suite_test.go
Labels: documentation, enhancement, controllers, size/L, api-change

#83 Add annotation to mark seeds containing a metal-api shoot to fix NetworkPolicies
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/worker/machine_controller_manager.go
  pkg/metal/types.go
Labels: bug, size/S, controllers

#87 Ensure MCM label in webhook to fix NetworkPolicies for local metal-api shoots
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: bug, size/M, controllers
