Repository ironcore-dev/gardener-extension-provider-ironcore-metal, pull requests merged in 2024-10, with the labels that each got.

#46 Add `Shoot` load balancer configuration and `metallb` as first provider
  Dockerfile
  charts/internal/shoot-system-components/charts/metallb/Chart.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/clusterrole-metallb-controller.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/clusterrole-metallb-speaker.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/clusterrolebinding-metallb-controller.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/clusterrolebinding-metallb-speaker.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/configmap-metallb-excludel2.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/crds.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/daemonset-metallb-speaker.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/deployment-metallb-controller.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/ipaddresspool.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/l2advertisement.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/role-metallb-controller.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/role-metallb-pod-lister.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/rolebinding-metallb-controller.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/rolebinding-metallb-pod-lister.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/secret-metallb-webhook-cert.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/service-metallb-webhook-service.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/serviceaccount-metallb-controller.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/serviceaccount-metallb-speaker.yaml
  charts/internal/shoot-system-components/charts/metallb/values.yaml
  charts/internal/shoot-system-components/requirements.yaml
  charts/internal/shoot-system-components/values.yaml
  hack/api-reference/api.md
  imagevector/images.yaml
  pkg/apis/metal/types_controlplane.go
  pkg/apis/metal/v1alpha1/types_controlplane.go
  pkg/apis/metal/v1alpha1/zz_generated.conversion.go
  pkg/apis/metal/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/metal/validation/controlplane.go
  pkg/apis/metal/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/worker/machine_controller_manager.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/metal/types.go
Labels: documentation, enhancement, controllers, size/XXL, api-change

#51 Add `Calico` BGP support for load balancer
  charts/internal/shoot-system-components/charts/calico-bgp/Chart.yaml
  charts/internal/shoot-system-components/charts/calico-bgp/templates/bgpconfiguration.yaml
  charts/internal/shoot-system-components/charts/calico-bgp/templates/bgppeer.yaml
  charts/internal/shoot-system-components/charts/calico-bgp/values.yaml
  charts/internal/shoot-system-components/values.yaml
  hack/api-reference/api.md
  pkg/apis/metal/types_controlplane.go
  pkg/apis/metal/v1alpha1/types_controlplane.go
  pkg/apis/metal/v1alpha1/zz_generated.conversion.go
  pkg/apis/metal/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/metal/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/metal/types.go
Labels: documentation, enhancement, controllers, api-change, size/XL

#57 Bump `github.com/gardener/gardener@v1.99.4`
  .github/workflows/lint.yml
  Dockerfile
  go.mod
  go.sum
Labels: enhancement, size/S

#59 Add condition for `Calico` BGP resources
  charts/internal/shoot-system-components/charts/calico-bgp/templates/bgpconfiguration.yaml
  charts/internal/shoot-system-components/charts/calico-bgp/templates/bgppeer.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: bug, size/S, controllers

#58 Bump `github.com/gardener/gardener@v1.103.0`
  charts/internal/shoot-system-components/charts/calico-bgp/values.yaml
  cmd/gardener-extension-provider-metal/app/app.go
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  imagevector/imagevector.go
  pkg/admission/validator/shoot.go
  pkg/apis/metal/helper/scheme.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/add.go
  pkg/controller/worker/add.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: enhancement, controllers, size/L, api-change

#61 Add `LoadBalancerConfig` example
  example/30-controlplane.yaml
Labels: documentation, enhancement, size/S

#60 Add customizable ignition per worker pool to InfrastructureConfig
  example/30-infrastructure.yaml
  hack/api-reference/api.md
  hack/api-reference/config.md
  pkg/apis/metal/types_infrastructure.go
  pkg/apis/metal/v1alpha1/types_infrastructure.go
  pkg/apis/metal/v1alpha1/zz_generated.conversion.go
  pkg/apis/metal/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/metal/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/controller/worker/suite_test.go
  pkg/metal/types.go
Labels: documentation, enhancement, controllers, api-change, size/XL
