Repository ironcore-dev/gardener-extension-provider-ironcore-metal, pull requests merged in 2025-01, with the labels that each got.

#121 Fix doc rename
  pkg/apis/metal/doc.go
  pkg/apis/metal/v1alpha1/doc.go
Labels: bug, size/XS, api-change

#106 Add `MetaData` and `IPAMConfig` fields to `Worker` configuration
  hack/api-reference/api.md
  pkg/apis/metal/types_worker.go
  pkg/apis/metal/v1alpha1/types_worker.go
  pkg/apis/metal/v1alpha1/zz_generated.conversion.go
  pkg/apis/metal/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/metal/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/controller/worker/suite_test.go
  pkg/metal/types.go
Labels: documentation, enhancement, controllers, size/L, api-change

#124 rename: make `docs`
  hack/api-reference/api.md
Labels: documentation, size/L

#125 Reconcile infrastructure spec and patch status
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_reconcile_test.go
  pkg/controller/infrastructure/infrastructure_suite_test.go
  pkg/controller/worker/suite_test.go
Labels: controllers, size/L

#126 Forward controlplane IPAMKind value to CCM
  charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  pkg/apis/metal/types_controlplane.go
  pkg/apis/metal/v1alpha1/types_controlplane.go
  pkg/apis/metal/v1alpha1/zz_generated.conversion.go
  pkg/apis/metal/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/metal/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/metal/types.go
Labels: controllers, size/L, api-change
