Repository ironcore-dev/gardener-extension-provider-ironcore-metal, pull requests merged in 2025-03, with the labels that each got.

#131 Bump `gardener/gardener` to v1.112.0
  cmd/gardener-extension-admission-metal/app/app.go
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/cmd/config.go
  pkg/controller/controlplane/add.go
  pkg/controller/healthcheck/add.go
  pkg/controller/infrastructure/add.go
  pkg/controller/worker/add.go
Labels: enhancement, controllers, size/L, api-change

#153 Update reuse configuration
  REUSE.toml
Labels: size/S, chore

#161 Calico: make `nodeToNodeMeshEnabled` configurable
  hack/api-reference/api.md
  pkg/apis/metal/types_controlplane.go
  pkg/apis/metal/v1alpha1/types_controlplane.go
  pkg/apis/metal/v1alpha1/zz_generated.conversion.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: documentation, enhancement, size/S, controllers, api-change

#163 Use referenced resource for ignition secret
  hack/api-reference/api.md
  pkg/admission/validator/shoot.go
  pkg/apis/metal/types_worker.go
  pkg/apis/metal/v1alpha1/types_worker.go
  pkg/apis/metal/v1alpha1/zz_generated.conversion.go
  pkg/apis/metal/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/metal/validation/shoot.go
  pkg/apis/metal/validation/shoot_test.go
  pkg/apis/metal/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/suite_test.go
Labels: documentation, enhancement, controllers, size/L, api-change
